#taco {
  background: #d0e4f5
    url("https://p4.wallpaperbetter.com/wallpaper/503/189/157/pokemon-video-games-pixel-art-pixels-wallpaper-preview.jpg")
    repeat local 50% 100%;
}

#tacos {
  background: #d0e4f5
    url("https://p4.wallpaperbetter.com/wallpaper/503/189/157/pokemon-video-games-pixel-art-pixels-wallpaper-preview.jpg")
    repeat local 50% 100%;
}

#batalla{
  background: #D0E4F5 url("https://assets.pokemon.com//assets/cms2-es-es/img/misc/virtual-backgrounds/masters/city.jpg") repeat fixed 50% 50%;
  }